body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Poppins';
}

.animationsec {
    position: fixed;
    top: 119px;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 9999;
    pointer-events: none;
}

.col-md-6:last-child .rakhiimg img {
    float: right;
}

.rakhilist li:before {
    content: '';
    position: absolute;
    top: 0;
    width: 15px;
    height: 2px;
    margin: auto;
    border-radius: 0 0 50% 50%;
    z-index: 1;
    left: 0;
    right: 0;
}

.rakhisect {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    position: relative;
    display: inline-block;
    z-index: -1;
}

.rakhiimg {
    position: absolute;
    left: 0px;
    display: inline-block;
    width: max-content;
    top: 0;
}

.rakhiimg img {
    width: 100%;
    margin: 0;
    transform: translate(0%);
    display: block;
    position: relative;
}

.rakhilist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.rakhilist li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
}

.rakhilist li:first-child img {
    animation: moveright 5.25s ease-in infinite;
    transform: translate(0%);
}

.rakhilist li:last-child img {
    animation: moveleft 8.25s ease-in infinite;
    transform: translate(0%);
}

.rakhiimg:last-child {
    position: absolute;
    right: 0px;
    left: unset;
}

.festivelsection {
    background: #0c5c1e !important;
    padding: 5px 0px 5px;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

.festivelsection h6 {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    font-family: syne, sans-serif;
}

.yellow {
    color: #fffa24;
}


/* .rakhisect .rakhiimg:last-child .rakhilist:before {
    background: url("/images/light.png") no-repeat;
} */

.imgbox,
.footimg {
    margin: 0px auto;
    width: 100%;
    display: block;
}

.imgbox img,
.footimg img {
    margin: 0px auto;
    display: block;
    width: 100%;
}

.footdiya {
    position: fixed;
    bottom: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.phoolsec {
    left: 0;
    display: inline-block;
    padding: 0px 0px 5px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
}


/* 
@keyframes moveright {

    0%,
    100% {
        transform: translate(0%, 50%) rotate(-1.5deg) translate(15px, -50%);
    }

    25% {
        transform: translate(0%, 50%) rotate(0deg) translate(0%, -50%);
    }

    50% {
        transform: translate(0%, 50%) rotate(2.5deg) translate(-15px, -50%);
    }
}

@keyframes moveleft {

    0%,
    100% {
        transform: translate(0%, 50%) rotate(0.5deg) translate(-15px, -50%)
    }

    25% {
        transform: translate(0%, 50%) rotate(0.5deg) translate(-10px, -50%)    ;
        -webkit-transform: translate(0%, 50%) rotate(0.5deg) translate(-10px, -50%);
        -moz-transform: translate(0%, 50%) rotate(0.5deg) translate(-10px, -50%);
        -ms-transform: translate(0%, 50%) rotate(0.5deg) translate(-10px, -50%);
        -o-transform: translate(0%, 50%) rotate(0.5deg) translate(-10px, -50%);
}

    50% {
        transform: translate(0%, 50%) rotate(0.5deg) translate(-5px, -50%)
    }
} */

.animationsec.ladingpages {
    top: 108px;
}

@media (max-width: 1280px) {
    .rakhiimg {
        width: 250px;
        top: -14px;
        z-index: -1;
    }

    .animationsec {
        position: fixed;
        top: 119px;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        z-index: 9999;
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .rakhiimg {
        width: 180px;
        top: -14px;
    }

    .animationsec {
        top: 93px;
    }
}