@media only screen and (max-width:760px) {
img {max-width:100%; height:auto;}


/* 	-----------------------------------------------------
	------------------- Header Styles -------------------
	----------------------------------------------------- */
	#header_section header {width:100%;}
	#header_section header .section01 {width:100%;}
		#signin {margin:-1px 1px 0 1px;}
		#signup {margin:-1px 1px 0 1px;}
	
	#header_section header .section02 {width:100%;}
	
		#header_section header .section02 figure {margin:0 auto; float:none;}
		#header_section header .section02 nav {width:100%; padding:10px 0 0 0;}
	
	#header_section header .section03 {width:100%;}
	
		#header_section header .section03 hgroup {width:100%; text-align:center;}
		#header_section header .section03 nav {width:100%; text-align:center;}
		#header_section header .section03 nav ul {text-align:center;}
		#header_section header .section03 nav ul li {float:none; display:inline-block;}
		#header_section header .section03 aside {width:100%; text-align:center; padding:20px 0; vertical-align:text-top;}
	
	.tinynav {display: block;}
 	#nav {display: none;}


/* 	-----------------------------------------------------
	------------------- Banner Styles -------------------
	----------------------------------------------------- */
	#banner_section section {width:100%;}	
	
		.tryforfree, .tryforfree1, .read_more, .read_more1, .subscribe_now, .read_more2, .tryforfree2, .read_more3, .check_prices, .read_more4, .contact_team, .read_more5 {display:none !important;}
	
/* 	-----------------------------------------------------
	------------------ Content Styles -------------------
	----------------------------------------------------- */
	#main_section {width:100%;}
	
		#main_section .section01 {width:100%; padding:0;}
		#main_section .section02 {width:100%;}
			#main_section .section02 ul {margin:0;}
			#main_section .section02 ul li {margin:0;}
		
		#main_section .section03 {width:100%;}
		
			#main_section .section03 .left_panel {width:92%; padding:4%;}
			#main_section .section03 .right_panel {width:92%; padding:4%;}
			#main_section .section03 .right_panel figure {width:100%; text-align:center;}
			#main_section .section03 .right_panel article {width:100%;}
			#main_section .section03 .right_panel .box01 ul li {width:100%; text-align:center;}
			#main_section .section03 .right_panel .box01 ul li.mar20 {margin:20px 0 !important;}
			#main_section .section03 .right_panel article .cell01 {width:92%; padding:4%; margin:0;}
			#main_section .section03 .right_panel article .cell02 {width:92%; padding:4%; margin:0; border-width:1px 0 !important;}
			#main_section .section03 .right_panel article .cell03 {width:92%; padding:4%; margin:0;}
			
			
/* 	-----------------------------------------------------
	------------------ Content Styles -------------------
	----------------------------------------------------- */
	#inner_section {width:100%;}
	
		#left_section {width:92%; padding:4%;}
	
		#right_section {width:92%; padding:4%;}
	
		#right_section .links_box01 {width:100%;}
	
		#right_section .links_box02 {width:100%;}
	
	
	
	
	
		
	
/* 	-----------------------------------------------------
	------------------- Footer Styles -------------------
	----------------------------------------------------- */
	#footer_section footer {width:100%;}

		#footer_section footer .section01 {width:92%; padding:4%;}
			#footer_section footer .section01 .content_box01 {width:100%; padding:2% 0;}
			#footer_section footer .section01 .content_box02 {width:100%; padding:2% 0;}
			#footer_section footer .section01 .content_box03 {width:100%; padding:2% 0;}
			#footer_section footer .section01 .content_box04 {width:100%; padding:2% 0;}
		
		#footer_section footer .section02 {width:92%; padding:4%;}
		
			#footer_section footer .section02 .left {width:100%; padding:2% 0;} 
			#footer_section footer .section02 .right {width:100%; padding:2% 0;} 


}
